/**
 MAIN-NAV
 ========
 The application's main nav
*/

.main-nav {
}

.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  display: block;
}

.main-nav__item > a {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 10px 5px;
  border-bottom: solid 1px white;
  background-color: #e7e5e0;
  color: #595455;

}

.main-nav__item > a.active {
  box-shadow: inset 0 0 30px #888888;
}
