<div class="list-view">
  <div class="list-view__header row">
    {{#each columns as |column|}}
      <div class="cell cell_type_header" data-label="column-title">{{column.desc}}</div>
    {{/each}}

    <!-- Account for scrollbar width :'(  -->
    <div class="cell cell_type_header spacer"></div>
  </div>

  <div class="list-view__list-container">
    <div class="ember-list-container">
      {{#each filtered as |item|}}
        {{!-- passing columns for record-item only (will be fixed in next upgrade) --}}
        {{view view.itemViewClass content=item columns=columns}}
      {{/each}}
    </div>
    {{!-- {{view "record-list" content=filtered columns=columns controller=this}} --}}
  </div>
</div>
{{#each filtered as |fil|}}{{/each}}
