<div class="list-view">
  <div class="list-view__header row">
    {{#each columns as |column|}}
      <div class="cell cell_type_header" data-label="column-title">{{column.desc}}</div>
    {{/each}}

    <!-- Account for scrollbar width :'(  -->
    <div class="cell cell_type_header spacer"></div>
  </div>

  <div class="list-view__list-container">
    <div class="ember-list-container">
      {{#record-list owner=this}}
        {{#each filtered as |content|}}
          {{#view "record-item" controller=this}}
            {{#record-item model=content modelTypeColumns=columns inspect="inspectModel" as |item|}}
              {{#each item.columns as |column|}}
                <div class="cell cell_clickable" data-label="record-column" style={{item.style}}>
                  {{column.value}}
                </div>
              {{/each}}
            {{/record-item}}
          {{/view}}
        {{/each}}
      {{/record-list}}
    </div>
  </div>
</div>
